


/*big tablets to small screen{this is so our row class{1140px} can have  margin} */
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
        }
    .row{
        padding: 0 2%;
    }
    
    
}

/* small tablets to big tablets : from 768px to 1023px */

@media only screen and ( max-width:1023px){
    body{ font-size: 18px;}
    section{ padding: 60px 0;}
    .long-copy{
        width: 80% ;
        margin-left: 10%;}
    .step-box{margin-top: 10px;}
    .step-box:last-of-type{margin-top: 30px;}
    .app-screen{width: 50%;}
    .work-steps{ margin-bottom: 40px;}
    .work-steps:last-of-type{margin-bottom: 60px;}
    .icon-small{ 
        margin-right: 5px;
        width: 10px;
    }
    .city-features{font-size: 90%;}
    .plan-box{
        width: 100%;
        margin-left: 0;
    }
    .plan-price{font-size: 250%;}
    .contact-form {
        width: 80%;
    }
    
    
}

/* small phones to big phones : from 481px to 767px */

@media only screen and (max-width:767px){
    body{font-size: 16px;}
    section{padding: 30px p; }
    
    .row,
    .hero-text-box{padding: 0 4% ;}
    .col{
        width: 100%;
        margin: 0 0 4% 0;    
    }
    .main-nav{ display: none;} 
    
    .mobile-nav-icon{ display: inline-block; }
    
    .main-nav{
        float: left;
        margin-left: 25px;
        margin-top: 30px;
    }
    
    .main-nav li{
        display: block;
        border: 0; 
        padding: 10px 0;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        border: 0;
        display: block;
    }
    
    
    .sticky .main-nav{margin-top: 10px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        color: #555;
        padding: 5px 0;
    }

    .sticky .logo{display: none;}
    .sticky .logo-black {
        display: block;
        height: 60px;
        width: auto;
        margin: 5px 0;
        float: left;

    }
    .sticky .mobile-nav-icon { margin-top:10px; }
    .sticky .mobile-nav-icon i{ color: #555; }
    
    
    .long-copy{
        width: 100% ;
        margin-left: 0%;}
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    .box h3,
    .box i{text-align: center;}
    
    
    .work-steps div{
        width: 40px;
        height: 40px;;
        margin-right: 15px;
        padding: 4px;
        font-size: 135%;
   }
    .work-steps{ margin-bottom: 30px;}
    .work-steps:last-of-type{ margin-bottom: 20px; }
    .step-box:first-child{text-align:center;}
    .app-screen{
        width: 30%;
    }

}

/* small phones : from 0 to 480px */
@media only screen and (max-width:480px){
    
    section{padding: 25px 0;}
    .contact-form { width: 100%; }
    
    
}




